form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1F2937;
}

form button {
    display: block;
    width: 100%;
} 